{% extends "base.html" %}
{% load static %}

{% block content %}
    <br><br><br><br>
    <br><br><br><br>
<div id="team" class="team-section wf-section" howu-index="260">
    <div class="container-1200px flex" howu-index="259">
        <div class="container-600px" howu-index="258">
            <div class="text-center" howu-index="256">
                <h2 class="white-text align-center margin-bottom-18px" howu-index="255">Hakkımızda</h2>
                <h2>Ekibimiz</h2>
            </div>
        </div>
        <div class="w-layout-grid our-team-cards-wrapper" howu-index="253">
            <div class="card-team" howu-index="252">
                <div class="team-card-content" howu-index="251">
                    <div class="div-block-169" howu-index="250">
                        <img src="{% static 'images/didarguzun.jpg' %}" loading="lazy" alt="Canopy CEO Tanmai Sharma" class="team_img" howu-index="249">
                    </div>
                    <div class="div-block-170" howu-index="248">
                        <h3 class="employee-name" howu-index="247">Didar Güzün</h3>
                        <h2 class="white-text align-center margin-bottom-18px" howu-index="255">Proje Finansman Sorumlusu</h2>
                    </div>
                </div>
            </div>
            <div class="card-team" howu-index="244">
                <div class="team-card-content" howu-index="243">
                    <div class="div-block-175" howu-index="242">
                        <img src="{% static 'images/halilmuslu.png' %}" loading="lazy" height="" width="1052.5" alt="Canopy Chief Operating Officer Eryn Wu" class="team_img" howu-index="241">
                    </div>
                    <div class="div-block-176" howu-index="240">
                        <h3 class="employee-name" howu-index="239">Halil Muslu</h3>
                        <h2 class="white-text align-center margin-bottom-18px" howu-index="255">AI-ML Developer</h2>
                    </div>
                </div>
            </div>
            <div class="card-team" howu-index="236">
                <div class="team-card-content" howu-index="235">
                    <div class="div-block-178" howu-index="234">
                        <img src="{% static 'images/muratkayacik.jpg' %}" loading="lazy" alt="Canopy Chief Product Officer Shamara Pereira" class="team_img" howu-index="233">
                    </div>
                    <div class="div-block-179" howu-index="232">
                        <h3 class="employee-name" howu-index="231">Murat Kayacık</h3>
                        <h2 class="white-text align-center margin-bottom-18px" howu-index="255">Pazarlama ve İş Geliştirme</h2>
                    </div>
                </div>
            </div>
            <div class="card-team" howu-index="228">
                <div class="team-card-content" howu-index="227">
                    <div class="div-block-180" howu-index="226">
                        <img src="{% static 'images/iremcorak.jpg' %}" loading="lazy" srcset="{% static 'images/iremcorak.jpg' %} 500w, {% static 'images/iremcorak.jpg' %} 500w" sizes="(max-width: 479px) 60vw, (max-width: 767px) 150px, (max-width: 991px) 20vw, (max-width: 1919px) 200px, 250px" alt="Canopy Chief Technology Officer Prashant Surana" class="team_img" howu-index="225">
                    </div>
                    <div class="div-block-181" howu-index="224">
                        <h3 class="employee-name" howu-index="223">İrem Çorak</h3>
                        <h2 class="white-text align-center margin-bottom-18px" howu-index="255">AI-CV Developer</h2>
                    </div>
                </div>
            </div>
            <div class="card-team" howu-index="220">
                <div class="team-card-content" howu-index="219">
                    <div class="div-block-173" howu-index="218">
                        <img src="{% static 'images/muhammet.jpg' %}" loading="lazy" sizes="(max-width: 479px) 60vw, (max-width: 767px) 150px, (max-width: 991px) 20vw, (max-width: 1919px) 200px, 250px" srcset="{% static 'images/muhammet.jpg' %} 500w, {% static 'images/muhammet.jpg' %} 533w" alt="Canopy Head Business Development Sinan Biren" class="team_img" howu-index="217">
                    </div>
                    <div class="div-block-174" howu-index="216">
                        <h3 class="employee-name" howu-index="215">Muhammed Ali Yaşar</h3>
                        <h2 class="white-text align-center margin-bottom-18px" howu-index="255">İş Analisti</h2>
                    </div>
                </div>
            </div>
            <div class="card-team" howu-index="212">
                <div class="team-card-content" howu-index="211">
                    <div class="div-block-175" howu-index="210">
                        <img src="{% static 'images/mazyargholami.jpg' %}" loading="lazy" srcset="{% static 'images/mazyargholami.jpg' %} 500w, {% static 'images/mazyargholami.jpg' %} 800w, {% static 'images/mazyargholami.jpg' %} 1080w, {% static 'images/mazyargholami.jpg' %} 1260w" sizes="(max-width: 479px) 60vw, (max-width: 767px) 150px, (max-width: 991px) 20vw, (max-width: 1919px) 200px, 250px" alt="Mazyar Gholami" class="team_img" howu-index="209">
                    </div>
                    <div class="div-block-176" howu-index="208">
                        <h3 class="employee-name" howu-index="207">Mazyar Gholami</h3>
                        <h2 class="white-text align-center margin-bottom-18px" howu-index="255">Backend Developer</h2>
                    </div>
                </div>
            </div>
            <div class="card-team" howu-index="196">
                <div class="team-card-content" howu-index="195">
                    <div class="div-block-181" howu-index="192">
                        <h3 class="employee-name" howu-index="191"></h3>
                        <div class="white-text align-center margin-bottom-18px" howu-index="255">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-team" howu-index="196">
                <div class="team-card-content" howu-index="195">
                    <div class="div-block-180" howu-index="194">
                        <img src="{% static 'images/kaankaval2.jpg' %}" loading="lazy" alt="Canopy Head Data Products Huong Do" class="team_img" howu-index="201">
                    </div>
                    <div class="div-block-181" howu-index="192">
                        <h3 class="employee-name" howu-index="191">Kaan Kaval</h3>
                        <div class="white-text align-center margin-bottom-18px" howu-index="255">AI-CV Developer
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-team" howu-index="196">
                <div class="team-card-content" howu-index="195">
                    <div class="div-block-181" howu-index="192">
                        <h3 class="employee-name" howu-index="191"></h3>
                        <div class="white-text align-center margin-bottom-18px" howu-index="255">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}