{% extends "base.html" %}
{% load static %}

{% block content %}
    <br><br><br><br>
    <br><br><br><br>
<div id="team" class="team-section wf-section" howu-index="260">
    <div class="container-1200px flex" howu-index="259">
        <div class="container-600px" howu-index="258">
            <div class="text-center" howu-index="256">
                <h2>Hakkımızda</h2>
                <p>Norbit olarak, 2015 yılından bu yana yapay zeka ve görüntü işleme alanında faaliyet gösteren bir firma olmaktan gurur duyuyoruz. Genç ve dinamik ekibimizle birlikte, farklı sektörlerde müşterilerimize üstün hizmetler sunuyoruz. Özellikle tekstil, lojistik, Fintech ve geri dönüşüm sektörlerinde uzmanlık kazandık. Yazılım ve donanımı bir araya getirerek, geleceğin teknolojik çözümlerini üretiyoruz. Müşteri ihtiyaçlarını anlama ve bu ihtiyaçlara uygun çözümler geliştirme konusundaki tecrübemizle öne çıkıyoruz. Sizlere en iyi hizmeti sunmak için buradayız ve geleceğin teknolojilerini şekillendirmek için heyecanla çalışıyoruz</p>
            </div>
        </div>
        <br><br><br><br><br><br><br>
    </div>
</div>
{% endblock %}
