{% extends "base.html" %}
{% load static %}

{% block style %}
    <style>
    @media screen and (max-width: 400px) {
        #dontshow{
            display: none!important;
        }
    }
    </style>
{% endblock %}

{% block content %}
    <br><br><br><br><br>
    <br><br><br><br><br>

<div class="container" dir="ltr" style="max-width: 1000px">
            <div class="section-title section-title-lg">
                <h2>Ürünler & Projeler</h2>
            </div>
        </div>
        <div class="row align-items-center mt-5">
            <div class="col-md-5 col-sm-12" id="dontshow">
                <!--
                <img src="{% static 'images/ocr2.jpg' %}" class="img-fluid rounded-md " alt="">
                <img src="{% static 'images/faceid.jpg' %}" class="img-fluid rounded-md " alt="">
                <img src="{% static 'images/fidauth3.jpg' %}" class="img-fluid rounded-md " alt="">

                -->
                <img src="{% static 'images/faceid.avif' %}" style="width:230px;height: 230px" class="img-fluid rounded-md " alt="">
                <img src="{% static 'images/fidauth.gif' %}" style="width:290px;height: 290px" class="img-fluid rounded-md " alt="">
            </div>
            <!--end col-->
            <div class="col-md-7 col-sm-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="ms-lg-4">
                    <h3>Fidauth - Akıllı Evrak Validasyonu</h3>
                    <p>Fidauth, bireylerin kimliklerini çevrimiçi ortamda doğrulamasını <br>
                        ve evrak validasyon süreçlerinin dijitalleştirilerek otomatize edilmesini
                        sağlayan <br>
                        yapay zeka destekli biyometrik  kimlik doğrulama ve akıllı evrak validasyonu süreçleri otomasyonudur</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <div class="row align-items-center mt-5">
            <div class="col-md-7 col-sm-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="ms-lg-4">
                    <h3 style="text-align: left">Güvenli Sürüş Karar Destek Sistemi</h3>
                    <p style="text-align: left">Güvenli Sürüş Karar Destek Sistemi, araç hareket
                        halindeyken yolu ve sürücü davranışlarını izleyerek elde edilen
                        verilerden güvenli sürücü davranışlarını çıkarır. Sistem, güvenli olmayan sürüş
                        durumlarını algılayarak sürücüleri uyarır ve raporlamayı sağlar. Böylece sürücülerin
                        güvenliği artarken, trafik kazalarının azaltılması hedeflenir <br>
                    </p>
                </div>
            </div>
            <!--end col-->
            <div class="col-md-5 col-sm-12">
                <img src="{% static 'images/adas3.jpg' %}" style="border-radius: 10px 10px 10px 10px;" class="img-fluid rounded-md " alt="">
            </div>
            <!--end col-->
        </div>
        <br>
        <div class="row align-items-center mt-5">
            <div class="col-md-5 col-sm-12">
                <img src="{% static 'images/tkks1.jpg' %}" style="border-radius: 10px 10px 10px 10px;" class="img-fluid rounded-md" alt="">
            </div>
            <!--end col-->
            <div class="col-md-7 col-sm-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="ms-lg-4" dir="ltr">
                    <h3>Yapay Zeka ile Geliştirilmiş Tekstil Kalite Kontrol Sistemi</h3>
                    <p>Tekstil Kalite Kontrol Sistemi, kumaş kalitesini kontrol etmek için tasarlanmış
                        kontrol edilebilir ve raporlanabilir bir sistemdir. İnsan gözünün 20-40m/dk hızında kumaşı
                        kontrol edebildiği düşünülürken, yapay zeka sistemi 100m/dk hızında kontrol yapabilir.
                        Bu sistem, mikro hata bulma ölçeği ve 4 puan sistemine uygunluk özellikleri ile
                        yüksek doğrulukta hata yeri tespiti yapabilir ve kumaşları haritalandırabilir.
                        Ayrıca, kendi kendine öğrenebilme kabiliyeti sayesinde her defasında daha doğru sonuçlar verir.
                        Kolay entegrasyon özelliği ile bu sistem, iş gücü gereksinimini azaltarak üretim verimliliğini
                        arttırır
                    </p>
                </div>
            </div>
            <!--end col-->
        </div>
        <br>
        <div class="row align-items-center mt-5">
            <div class="col-md-7 col-sm-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="ms-lg-4 ">
                    <h3 style="text-align: left">Görüntü İşleme İle Personel Verimlilik Takibi</h3>
                    <p style="text-align: left">İşleme başlamadan önce personelin zaman etüdü değerleri alınarak,
                        görüntü işleme takibinde olan personelin işe başlama ve bitiş zamanlarına göre
                        verimlilik analizi yapılır. Böylece iş süreçlerindeki verimlilik arttırılır
                        ve kaynaklar daha verimli kullanılır. Görüntü işleme teknolojisi ile elde edilen veriler,
                        işletme yöneticilerine detaylı ve güvenilir bir raporlama sunarak karar alma
                        süreçlerine destek sağlar
                    </p>
                </div>
            </div>
            <!--end col-->
            <div class="col-md-5 col-sm-12">
                <img src="{% static 'images/pdwvc.jpg' %}" style="border-radius: 10px 10px 10px 10px;" class="img-fluid rounded-md" alt="">
            </div>
            <!--end col-->
        </div>
        <br>
        <div class="row align-items-center mt-5">
            <div class="col-md-5 col-sm-12">
                <img src="{% static 'images/asd.jpeg' %}" style="border-radius: 10px 10px 10px 10px;" class="img-fluid rounded-md" alt="">
            </div>
            <!--end col-->
            <div class="col-md-7 col-sm-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="ms-lg-4" dir="ltr">
                    <h3>Tekstilde Görüntü İşleme Çözümleri</h3>
                    <p>Görüntü işleme teknolojisi sayesinde kumaş ve bez kenarlarının otomatik olarak tespiti
                        mümkün hale gelmiştir. Bu çözüm sayesinde, en uygun bez dikim koordinatlarının belirlenmesi
                        ile verimlilik artar ve fire oranları azaltılarak maliyet avantajı
                        sağlanır
                    </p>
                </div>
            </div>
            <!--end col-->
        </div>
        <br>
        <div class="row align-items-center mt-5">
            <div class="col-md-7 col-sm-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="ms-lg-4">
                    <h3 style="text-align: left">Yapay Zeka Destekli İş Yeri Güvenliği</h3>
                    <p style="text-align: left">İş yeri güvenliği, çalışanların sağlığı ve işletmenin sürekliliği açısından
                        büyük önem taşır. Bu nedenle, yapay zeka destekli bir sistem kullanarak iş yeri güvenliği
                        daha etkin hale getirilebilir. Bu sistem, kişisel koruyucu ekipmanları ve
                        iş yeri alan ihlallerini tespit etmek, yangın ve dumanı tespit etmek gibi iş
                        yerindeki riskleri önceden belirleyebilir. Böylece, işletme prosedürlerinin operasyonel
                        olarak takibi sağlanarak, çalışanların ve işletmenin güvenliğini üst düzeye çıkarmak hedeflenir
                    </p>
                </div>
            </div>
            <!--end col-->
            <div class="col-md-5 col-sm-12">
                <img src="{% static 'images/healthandsafety.jpeg' %}" style="border-radius: 10px 10px 10px 10px;" class="img-fluid rounded-md" alt="">
            </div>
            <!--end col-->
        </div>
        <br>
        <div class="row align-items-center mt-5">
            <div class="col-md-5 col-sm-12">
                <img src="{% static 'images/rvm.jpg' %}" style="border-radius: 10px 10px 10px 10px;" class="img-fluid rounded-md" alt="">
            </div>
            <!--end col-->
            <div class="col-md-7 col-sm-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="ms-lg-4" dir="ltr">
                    <h3>Geri Dönüşüm Otomatlarında Orijinallik Tespit Sistemi</h3>
                    <p>Geri dönüşüm otomatlarında, görüntü işleme ve yapay zeka teknolojisi kullanılarak,
                        ürünlerin barkod ve DPG analizleri yapılır. Orijinallik tespiti gerçekleştirilerek
                        geri dönüşüme uygun olmayan ürünlerin otomata atılması önlenir
                    </p>
                </div>
            </div>
            <!--end col-->
        </div>
        <br>

    <br>
{% endblock %}