<section class="service-section pt-100 pb-70">
            <div class="container" dir="ltr">
                <div class="section-title section-title-lg">
                    <!-- <small>Ürünler & Projeler</small>
                    <h2>Our Purpose Is To Deliver Excellence <br> In Service And Execution</h2> -->
                    <h2>Ürünler & Projeler</h2>
                    <!-- <p>Our purpose is to deliver excellence in service and execution Our purpose is to deliver excellence in service and Our purpose is to deliver excellence in service.</p> -->
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 pb-30">
                        <div class="service-card">
                            <!-- <div class="service-card-thumb">
                                <img src="{% static 'images/fidauth.jpg' %}" alt="logo">
                            </div> -->
                            <div class="service-card-body">
                                <h3>Fidauth - Akıllı Evrak Validasyonu</h3>
                                <p>Fidauth, bireylerin kimliklerini çevrimiçi ortamda doğrulamasını ve evrak validasyon süreçlerinin dijitalleştirilerek otomatize edilmesini
                                    sağlayan yapay zeka destekli biyometrik  kimlik doğrulama ve akıllı evrak validasyonu süreçleri otomasyonudur.</p>
                                <!-- <a href="http://fidauth.com/" class="redirect-link">Detaylar <i class="icofont-rounded-right"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 pb-30">
                        <div class="service-card">
                            <!-- <div class="service-card-thumb">
                                <i class="flaticon-predictive-chart"></i>
                            </div> -->
                            <div class="service-card-body">
                                <h3>Güvenli Sürüş Karar Destek Sistemi</h3>
                                <p>Araç hareket halindeyken yolu ve sürücü davranışlarını izler <br>
                                Elde edilen verilerden güvenli sürücü davranışlarını çıkarır <br>
                                    Güvenli olmayan sürüş durumunda uyarı verir ve raporlamayı sağlar.
                                </p>
                                <!-- <a href="service-predictive-analytics.html" class="redirect-link">Detaylar <i class="icofont-rounded-right"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 pb-30">
                        <div class="service-card">
                            <!-- <div class="service-card-thumb">
                                <i class="flaticon-deep-learning"></i>
                            </div> -->
                            <div class="service-card-body">
                                <h3>Yapay Zeka ile Geliştirilmiş Tekstil Kalite Kontrol Sistemi</h3>
                                <p>Kontrol edilebilir, raporlanabilir sistem <br> Mikro hata bulma ölçeği <br> 4 puan sistemine uygunluk <br>
                                    Yüksek doğrulukta hata yeri tespiti ile <br>
                                    kumaş haritalandırma sunan bir kalite kontrol sistemidir.
                                </p>
                                <!-- <a href="service-deep-learning.html" class="redirect-link">Detaylar <i class="icofont-rounded-right"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 pb-30">
                        <div class="service-card">
                            <!-- <div class="service-card-thumb">
                                <i class="flaticon-data-mining"></i>
                            </div> -->
                            <div class="service-card-body">
                                <h3>Görüntü İşleme İle Personel Verimlilik Takibi</h3>
                                <p>Personelin işleme başlamadan önce alınmış olan zaman etüdü
                                    değeri ile görüntü işleme takibinde olan personelin başlama ve
                                    bitiş zamanlarına göre verimlilik analizi çıkarılır. <br><br>
                                </p>
                                <!-- <a href="service-data-mining.html" class="redirect-link">Detaylar <i class="icofont-rounded-right"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 pb-30">
                        <div class="service-card">
                            <!-- <div class="service-card-thumb">
                                <i class="flaticon-diagram"></i>
                            </div> -->
                            <div class="service-card-body">
                                <h3>Tekstilde Görüntü İşleme Çözümleri</h3>
                                <p>Görüntü işleme ile kumaş ve bez kenarlarının otomatik tespiti
                                sağlanır. Optimum bez dikim koordinatlarının belirlenmesi
                                sayesinde verimliliğin arttırılması ve fireyi azaltarak maliyet
                                avantajı sağlanmaktadır.
                                </p>
                                <!-- <a href="service-statistical-modeling.html" class="redirect-link">Detaylar <i class="icofont-rounded-right"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 pb-30">
                        <div class="service-card">
                            <!-- <div class="service-card-thumb">
                                <i class="flaticon-machine-learning-2"></i>
                            </div> -->
                            <div class="service-card-body">
                                <h3>Yapay Zeka Destekli İş Yeri Güvenliği</h3>
                                <p>Kişisel koruyucu ekipman tespiti, alan ihlali tespiti, yangın/duman tespiti yapılarak iş
                                    yeri prosedürlerinin operasyonel olarak takip edilmesi sağlanmaktadır. <br><br>
                                </p>
                                <!-- <a href="service-security-&-surveillance.html" class="redirect-link">Detaylar <i class="icofont-rounded-right"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 pb-30">
                        <div class="service-card">
                            <!-- <div class="service-card-thumb">
                                <i class="flaticon-machine-learning-2"></i>
                            </div> -->
                            <div class="service-card-body">
                                <h3>Geri Dönüşüm Otomatlarında Orijinallik Tespit Sistemi</h3>
                                <p>Akıllı geri dönüşüm otomatlarında görüntü işleme ve yapay zeka teknolojisi kullanılarak
                                    barkod ve DPG analizi ile orijinallik tespiti yapılmaktadır.
                                </p>
                                <!-- <a href="service-security-&-surveillance.html" class="redirect-link">Detaylar <i class="icofont-rounded-right"></i></a> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 pb-30">
                        <div class="service-card">
                            <!-- <div class="service-card-thumb">
                                <i class="flaticon-machine-learning-2"></i>
                            </div> -->
                            <div class="service-card-body">
                                <h3>Smart TPMS</h3>
                                <p>Ağır vasıtalar üzerinde lastik basınç ve araç OBD bilgilerinin
                                    bulut sistemine taşınarak erken uyarı verilmesini sağlayan ve şoför-araç takibi sunan sistemdir.
                                </p>
                                <!-- <a href="service-security-&-surveillance.html" class="redirect-link">Detaylar <i class="icofont-rounded-right"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>